<%= javascript_tag 'table_sort' %>
<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th></th> <!-- Placeholder for the 'Show' link -->
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>
